add mail to inbox ?

I was wondering if it is possible to add/create a mail in imapfilter to add to my inbox ?

I got a filtering setup now that autosorts based on mailing list and would like to send a mail to myself when something new/weird is detected (like a new mailing list I haven't been on before is spotted).

I looked at append_message(msg) but I'm not sure how to actually create a new 'msg' that will work.

Any ideas ? 

Well although `append_message()` was mainly purposed to be used with message fetched from some server, and then appended to some other server, it should be possible to use it to upload an email read from a file, or even an email you generate.

Unfortunately, I haven't done this myself, so I can't give you clear directions or an example of how to do this, but having a quick look at the [mandatory email header fields](https://en.wikipedia.org/wiki/Email#Header_fields), it seems that your message should only contain at least a `From` and `Date` header field, but I suppose you can easily add some more of those mentioned there.

Anyhow, once you create your message as a Lua string, you should be able to append it using `append_message()` as it calculates the length automatically and supplies it to the server.  I'm not sure whether the server will check what you uploaded for validity, but anyhow make sure to run imapfilter with at least the `-v` option, and even better with something like `-d debug.log` so you can see how the `APPEND` command went, and what kind of a reply you got.

There's also a very simple email appending example in the [RFC 3501 Section 6.3.11](https://tools.ietf.org/html/rfc3501#section-6.3.11), and you can try using that as a base, if trying a minimal email with only `From` and `Date` doesn't work for you.

sorry for late update was on PTO :) 

But what I'm struggling is to actually to do `create your message as a Lua string` .... just doing `msg = "bla blah"` I assume is not enough ?


No problem, try somethink like this:

```lua
msg = [[
From: Foo <foo@example.com>
Date: Thu, 22 Dec 2016 10:27:52 +0200
Subject: Test
Message-Id: <foo-1@example.com>
MIME-Version: 1.0
Content-Type: text/plain; charset=us-ascii

This is just a test.

]]

account.mailbox:append_message(msg)
```

Finally got around to try this and I can report it works! Awesome - thanks @lefcha 


:+1: