Unable to access folders which name contain non-ASCII characters

After some google work, this bug might connect to this one:
[Unable to create folders with umlauts or search strings with umlauts #17](https://github.com/lefcha/imapfilter/issues/17)
In this link, it is pointed out that user can use modified UTF-7 coded characters to access mailbox.
But when I use this method, I found that imapfilter automatically translate "&" to "&-", so I can not use raw UTF-7 coded string to visit my mailbox. 
For instance, I have a mailbox named "INBOX/测试", and I manually translate it to UTF-7 -- "INBOX/&5rWL6K+V-", based on the tech spec RFC 3501 Section 5.1.3.  However, imapfilter automatically change "INBOX/&5rWL6K+V-" to "INBOX/&-5rWL6K+V-", and give an error notification: imapfilter: IMAP (3): 100A NO INBOX/&-5rWL6K+V- doesn't exist.
Hope you can improve imapfilter that allow user use raw UTF-7 string accessing their mailbox.
Thanks, have a nice day.

I think the problem is that you are translating it to UTF-7, and then imapfilter also translates that to UTF-7, as there's functionality in imapfilter to do that automatically, in order to support Unicode in mailbox names: https://github.com/lefcha/imapfilter/blob/master/src/namespace.c#L94-L378

If you supply the `&` in a mailbox according to the RFC 3501 it should be translated in `&-` unless it's a non-ASCII character that follows it, which means it should be translated to UTF-7.

And to show you how the translation works, I just tried the following in my config:

```lua
account:create_mailbox('INBOX/测试')
account['INBOX/测试']:select_all()
```

And here's what I got from the server:

```
C (3): 1004 CREATE "INBOX.&bUuL1Q-"
S (3): 1004 OK Create completed (0.000 + 0.000 secs).
Created mailbox red@localhost/INBOX/测试.
C (3): 1005 SELECT "INBOX.&bUuL1Q-"
S (3): 1005 OK [READ-WRITE] Select completed (0.000 + 0.000 secs).
C (3): 1006 UID SEARCH ALL
S (3): 1006 OK Search completed (0.001 + 0.000 secs).
```